html {
  background-color: #333;
  color: #6feff9;
  font-family: "Ubuntu Mono", monospace;
}

.action-card {
  border-radius: .3em;
  overflow: hidden;
}

.action-btn {
  background-color: transparent;
  color: #6feff9;
}

.action-btn:hover {
  background-color: #e2e2e2;
}

.action-tools-top .action-btn {
  background-color: rgba(0, 0, 0, .2);
  color: #6feff9;
}

.action-tools-top .action-btn:hover {
  background-color: #fff;
  filter: none;
  color: #555;
}
