html {
  background-color: #333;
  color: #6feff9;
  font-family: "Ubuntu Mono", monospace;
}

.action-card {
  border-radius: .3em;
  overflow: hidden;
}

.action-btn {
  background-color: transparent;
  color: #6feff9;
}

.action-btn:hover {
  background-color: #333
  color: #fff;
}
